
gra/.vs/gra/v15/.suo
*.opendb
*.ipch
*.bsc
*.log
*.tlog
*.pdb
*.idb
*.db
*.sbr
*.obj
*.ipch
*.bsc
*.ilk
*.sbr
*.enc
*.filters


gra/.vs/gra/v15/.suo
gra/.vs/gra/v15/Browse.VC.db

gra/.vs
gra/Debug
gra/gra/Debug
gra/packages
gra/gra/gra.vcproj.filters
gra/gra/gra.vcproj.user
gra/gra/gra.vcproj
