
gra/.vs/gra/v15/.suo
*.opendb
*.ipch
*.bsc
*.log
*.tlog
*.pdb
*.obj
*.idb
*.pdb
gra/.vs/gra/v15/.suo
*.db
*.db
gra/.vs/gra/v15/.suo
*.db
*.ipch
*.bsc
*.ilk
*.pdb
*.obj
*.sbr
*.log
*.tlog
*.enc
*.filters
gra/.vs/gra/v15/.suo
gra/.vs/gra/v15/Browse.VC.db
*.sbr
*.obj
*.pdb


gra/.vs

gra/Debug

gra/packages